/* style.css for ai4all portfolio */

@import "{{ site.theme }}";
@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Media query mixins */
@mixin large { @media screen and (min-width: #{$large-breakpoint}) { @content; } }
@mixin medium { @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) { @content; } }
@mixin small { @media screen and (max-width: #{$medium-breakpoint}) { @content; } }

/* Global Styles */
* { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* adjust as needed */
  line-height: 1.6;
  color: $body-text-color;
}

a { color: $body-link-color; text-decoration: none; }
a:hover { text-decoration: underline; }

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
#skip-to-content:focus {
  position: fixed;
  top: 10px;
  left: 10px;
  height: auto;
  width: auto;
  background: invert($body-link-color);
  outline: thick solid invert($body-link-color);
}

/* Buttons */
.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
  color: rgba(255,255,255,0.8);
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3);
}
.btn + .btn { margin-left: 1rem; }
@include large { .btn { padding: 0.75rem 1rem; } }
@include medium { .btn { padding: 0.6rem 0.9rem; font-size: 0.9rem; } }
@include small { 
  .btn { display: block; width: 100%; padding: 0.75rem; font-size: 0.9rem; }
  .btn + .btn { margin-left: 0; margin-top: 1rem; }
}

/* Page Header */
.page-header {
  text-align: center;
  background-color: #26bdc4;
  background-image: linear-gradient(90deg, #876baf, #26bdc4);
  color: $header-heading-color;
}
@include large { .page-header { padding: 5rem 6rem; } }
@include medium { .page-header { padding: 3rem 4rem; } }
@include small { .page-header { padding: 2rem 1rem; } }

/* Project Titles */
.project-name { margin: 0 0 0.1rem 0; }
.project-tagline { margin-bottom: 2rem; font-weight: normal; opacity: 0.7; }

/* Font Sizes for Headings */
@include large { 
  .project-name { font-size: 3.25rem; } 
  .project-tagline { font-size: 1.25rem; } 
}
@include medium { 
  .project-name { font-size: 2.25rem; } 
  .project-tagline { font-size: 1.15rem; } 
}
@include small { 
  .project-name { font-size: 1.75rem; } 
  .project-tagline { font-size: 1rem; } 
}

/* Main content */
.main-content {
  max-width: 64rem;
  margin: 0 auto;
  word-wrap: break-word;
  padding: 2rem 6rem;
  font-size: 1.1rem;
}
@include medium { .main-content { padding: 2rem 4rem; } }
@include small { .main-content { padding: 2rem 1rem; font-size: 1rem; } }

/* Paragraphs, lists, and code */
.main-content p { margin-bottom: 1.25em; }
.main-content h1, h2, h3, h4, h5, h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: bold; color: #2e2b2a; }
.main-content code, pre { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.9rem; border-radius: 0.3rem; }
.main-content img { max-width: 100%; }

/* Tables */
table { display: block; width: 100%; overflow: auto; }

/* Footer */
.site-footer { padding-top: 2rem; margin-top: 2rem; border-top: 1px solid $hr-border-color; }
@include large { .site-footer { font-size: 1rem; } }
@include medium { .site-footer { font-size: 1rem; } }
@include small { .site-footer { font-size: 0.9rem; } }
.site-footer-owner { display: block; font-weight: bold; }
.site-footer-credits { color: $blockquote-text-color; }
